{% extends 'default.html' %}
{% load static %}

{% block title %}
{{ article.title }}
{% endblock title %}

{% load censor_filter %}
{% load custom_tags %}


{% block content %}
    <br>
    <h1>Все новости</h1>
    <h3>{% current_time '%d %b %Y' %}</h3>
    <h3>Количество новостей: {{ Article|length }}</h3>
    <h3>{{ next_sale|default_if_none:"Чуть позже сообщим о новостях!" }}</h3>
        {% if not is_subscriber %}
            <p class="text-center"><a href="{% url 'subscriptions' %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
        {% endif %}
    <hr>

    {% if perms.testapp.add_news %}
    <a href="{% url 'article_create' %}">Добавить новость</a>
    {% endif %}
    <hr>
    {% if Article %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>описание</td>
                <td>Автор</td>
                <td>Категория</td>
                <td>Дата создания</td>

                {% if perms.newsapp.change_news or perms.newsapp.delete_news %}
<!--                or perms.newsapp.change_article or perms.newsapp.delete_article-->
                <td>Действия</td>
                {% endif %}
            </tr>

            {% for article in TYPE_Article %}
            <tr>
                <td>{{ article.title|censor }}</td>
                <td>{{ article.text|censor|truncatechars:20 }}</td>
                <td>{{ article.author }}</td>
                <td><a href="{% url 'category_list' categoryType.id %}">{{ article.TYPE }}</a></td>
                <td>{{ article.rating }}</td>
                <td>{{ article.dateCreation|date:'d M Y'}}</td>

                <td>
                    {% if Post.author == request.user.author %}
                    <a href="{% url 'news_update' pk=Post.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.newsapp.delete_news %}
                    <a href="{% url 'news_delete' Post.id %}">Удалить</a>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        </table>
    {% else %}
        <!-- Если постов нет, говорим, что постов нет ;) -->
        <h2> Постов нет! </h2>
    {% endif %}


    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?page={% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
    <p></p>
    {% if not is_author %}
    <button>
        <a class="nav-link" href="{% url 'account_upgrade' %}">
            <h4>Cтать автором!</h4>
        </a>
    </button>
    {% endif %}
{% endblock content %}