{% extends 'default.html' %}

{% load custom_tags %}
{% load censor_filter %}


{% block title %}
Posts
{% endblock title %}

{% load cache %}
    {% cache 10 posts %}
        {% block posts %}
        {% endblock posts %}
    {% endcache %}
<!-- В контенте на странице мы выводим все новости -->
{% block content %}
    <br>
    <h1>Все новости</h1>
    <h3>{% current_time '%d %b %Y' %}</h3>
    <h3>Количество новостей: {{ Posts|length }}</h3>
    <h3>{{ next_sale|default_if_none:"Чуть позже сообщим о новостях!" }}</h3>
    <hr>

    {% if perms.newsapp.add_news %}
        <a href="{% url 'news_create' %}">Добавить новость</a>
    {% endif %}
    <hr>
    {% if Posts %}
        {% if articles %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Превью статьи</td>
                <td>Дата создания</td>
                <td>Тип публикации</td>

                {% if perms.testapp.change_news or perms.testapp.delete_news %}
                    <td>Действия</td>
                {% endif %}
            </tr>

            {% for article in articles %}
            <tr>
                <td>{{ Post.title|censor }}</td>
                <td>{{ Post.text|censor|truncatechars:20 }}</td>
                <td>{{ Post.author.authorUser }}</td>
            {% for cat in Post.postCategory.all %}
                <td><a href="{% url 'category_list' cat.id %}">{{ cat }}</a></td>
            {% endfor %}
                <td>{{ Post.rating }}</td>
                <td>{{ Post.dateCreation|date:'d M Y'}}</td>

                <td>
                    {% if Post.author == request.user.author %}
                    <a href="{% url 'news_update' pk=Post.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.newsapp.delete_news %}
                    <a href="{% url 'news_delete' Post.id %}">Удалить</a>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        </table>
    {% else %}
        <!-- Если постов нет, говорим, что постов нет ;) -->
        <h2> Постов нет! </h2>
    {% endif %}


    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?page={% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
    <p></p>
    {% if not is_author %}
    <button>
        <a class="nav-link" href="{% url 'account_upgrade' %}">
            <h4>Cтать автором!</h4>
        </a>
    </button>
    {% endif %}
{% endblock content %}